# Conjuntos

In [3]:
#Listas
lista=['gabriel', 34, True]
print(type(lista))
lista

<class 'list'>

['gabriel', 34, True]

In [9]:
lista[0]='Rodrigues'

In [17]:
lista[0:3]

['Rodrigues', 34, True]

In [31]:
lista.append(1.84)
lista

['Rodrigues', 34, True, 1.84]

In [63]:
lista_1=['pão', 0.6, False, 'Corado']
lista_2=['pão', 0.5, True, 'Queimado']
lista_3=['K']
lista_4=[1,2,3,4]

In [47]:
lista_1+lista_2

['pão', 0.6, False, 'Corado', 'pão', 0.5, True, 'Queimado']

In [51]:
lista_1.append(lista_3)
lista_1

['pão', 0.6, False, 'Corado', ['K']]

In [53]:
lista_3*10

['K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K']

In [55]:
len(lista_4*10)

40

In [57]:
len(['gabriel',34])

2

In [64]:
lista_1.remove('pão')
lista_1

[0.6, False, 'Corado']

In [65]:
lista_2.pop(1)
lista_2

['pão', True, 'Queimado']

In [67]:
lista_2.insert(0,0.5)
lista_2

[0.5, 0.5, 'pão', True, 'Queimado']

In [18]:
#tupla
tupla=('gabriel', 34, True)
print(type(tupla))
tupla

<class 'tuple'>

('gabriel', 34, True)

In [24]:
tupla[0]='rodrigues'

TypeError: 'tuple' object does not support item assignment

In [30]:
tupla.append(1.84)

AttributeError: 'tuple' object has no attribute 'append'

In [25]:
Set={'gabriel', 34, True}
print(type(Set))
Set

<class 'set'>

{34, True, 'gabriel'}

In [28]:
Set['gabriel']

TypeError: 'set' object is not subscriptable

In [32]:
Set.append(1.84)

AttributeError: 'set' object has no attribute 'append'

In [33]:
#dicionario
dicionario={'nome':'gabriel', 'idade':34, 'professor':True}
print(type(dicionario))
dicionario

<class 'dict'>

{'nome': 'gabriel', 'idade': 34, 'professor': True}

In [35]:
dicionario['nome']='Rodrigues'
dicionario

{'nome': 'Rodrigues', 'idade': 34, 'professor': True}

In [37]:
#range
type(range(1,10,1))

range

In [38]:
list(range(1,10,1))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [39]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [40]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [41]:
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [45]:
list(range(15))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

# Operadores

In [69]:
#Comparativos = > <

1!=2

True

In [71]:
1<=1

True

In [74]:
#Lógicos E OU
1>=1 and 2<2 and 3==3

False

In [75]:
1>=1 or 2<2 or 3!=3

True

In [76]:
valor=1516546541

valor%2==0

False

In [77]:
valor%3==0

False

In [78]:
valor%7==0

False

In [79]:
valor%11==0

False

In [80]:
valor%13==0

False

In [82]:
nome='Gabriel Rodrigues'

In [91]:
nome.find(' ')!=-1 & nome.find('G')!=-1

True

In [92]:
nome.isnumeric() | len(nome)>10

True

# Atividades

Atividade 1 - Nomes exclusivos

Crie um programa que solicite ao usuário que insira nomes separados por vírgulas. Em seguida, ele cria um conjunto com os nomes inseridos e exibe o número de nomes exclusivos no conjunto.

In [105]:
nomes=input('infome os nomes: ')

In [106]:
nomes=list(nomes.replace("'","").split(', '))

In [107]:
print('Do conjunto de dados informado com {} elementos, temos {} nomes únicos.'.format(len(nomes), len(set(nomes))))

Do conjunto de dados informado com 8 elementos, temos 6 nomes únicos.

Atividade 2 - Atualizando a loja

Crie um programa que simule o estoque de produtos em uma loja. Comece com um dicionário que contém alguns produtos e suas quantidades. Em seguida, permite ao usuário adicionar um novo produto com sua quantidade e atualizar a quantidade de um produto existente. Mostra o inventário atualizado.

Produtos e quantidades:
Maçãs => 50
Bananas => 30
Peras => 40

In [108]:
estoque={'Maçãs':50, 'Bananas':30, 'Peras':40}
produto=input('digite o nome do produto: ')
quantidade=int(input('digite a quantidade do produto (inteiro): '))
estoque[produto]=quantidade

In [110]:
produto=input('digite o nome do produto: ')
quantidade=int(input('digite a quantidade do produto (inteiro): '))
estoque[produto]=quantidade

In [111]:
estoque

{'Maçãs': 50, 'Bananas': 30, 'Peras': 40, 'Laranja': 86, 'Mamão': 11}

In [114]:
dicionario=dict()
dicionario['aula']=2
dicionario

{'aula': 2}

In [115]:
dicionario=dict()
dicionario[2024]=2
dicionario

{2024: 2}

Atividade 3 - Python um, Python dois, Python 3...

Crie um programa que pegue uma frase inserida pelo usuário e execute as seguintes operações: 

converta a frase para maiúsculas, 

conte quantas vezes a palavra "python" aparece e 

exiba a frase sem espaços em branco à esquerda e à direita.

In [118]:
frase=input('digite uma frase: ').upper()
frase.count('PYTHON')

2

In [120]:
frase

'             EU AMO PYTHON, MAS O PYTHON NÃO ME AMA! :[           '

In [119]:
frase.strip()

'EU AMO PYTHON, MAS O PYTHON NÃO ME AMA! :['

Atividade 4 - Cruzando e unindo

Cria dois conjuntos com números inseridos pelo usuário e separados por vírgulas.
Em seguida, mostre quais elementos os conjuntos têm em comum e crie um novo conjunto que contenha a união de ambos.

In [122]:
conjunto_1 = input('Digite um conjunto separado por virgula: ')
conjunto_2 = input('Digite outro conjunto separado por virgula: ')

In [123]:
conjunto_1=conjunto_1.split(',')
conjunto_2=conjunto_2.split(',')

In [125]:
conjunto_1.sort()
conjunto_2.sort()

In [132]:
conjunto_1.count(conjunto_2[0])

1

In [133]:
conjunto_1.count(conjunto_2[1])

0

In [134]:
conjunto_1.count(conjunto_2[2])

0

In [135]:
conjunto_1.count(conjunto_2[3])

1

In [136]:
conjunto_1.count(conjunto_2[4])

0

In [137]:
conjunto_1.count(conjunto_2[5])

1

In [138]:
conjunto_3=[]
conjunto_3.append(conjunto_2[0])
conjunto_3.append(conjunto_2[3])
conjunto_3.append(conjunto_2[5])

In [139]:
conjunto_3

['13', '59', '7']

Link para métodos de strings
https://www.w3schools.com/python/python_ref_string.asp